<h1>Hydraulic Inventory APP</h1>
<nav>
    <ul>
        <h2>Categories</h2>
        <li><strong>Home</strong></li>
        <li>Chucks</li>
        <li>Muffs</li>
        <li>Nodes</li>
        <li>Plugs</li>
        <li>Screws</li>
        <li>Tees</li>
        <li>Add chucks</li>
        <li>Add muffs</li>
        <li>Add nodes</li>
        <li>Add plugs</li>
        <li>Add screws</li>
        <li>Add tees</li>
    </ul>
</nav>