<h1>Hydraulic Inventory APP</h1>
<a id="homeHref" href="/"><span id="home"  class="material-symbols-outlined ">
    home
    </span></a>
<nav>
    <ul>
        <h2>Categories</h2>
        
        <li><a href="/catalog/chucks">Chucks</a></li>
        <li><a href="/catalog/muffs">Muffs</a></li>
        <li><a href="/catalog/nodes">Nodes</a></li>
        <li><a href="/catalog/plugs">Plugs</a></li>
        <li><a href="/catalog/screws">Screws</a></li>
        <li><a href="/catalog/tees">Tees</a></li>
        <h2>Forms</h2>
        <li><a href="/catalog/chucks/create">Add chucks</a></li>
        <li><a href="/catalog/muffs/create">Add muffs</a></li>
        <li><a href="/catalog/nodes/create">Add nodes</a></li>
        <li><a href="/catalog/plugs/create">Add plugs</a></li>
        <li><a href="/catalog/screws/create">Add screws</a></li>
        <li><a href="/catalog/tees/create">Add tees</a></li>
    </ul>
</nav>