body {
  background: rgb(40,132,205);
  background: linear-gradient(0deg, rgba(40,132,205,1) 0%, rgba(15,182,217,1) 100%);

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Titillium Web', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  width: 100vw;
  
}
h1{
  font-size: 40px;
  text-align: center;
  width: 100%;
}
nav{
  border-top: 5px solid silver;
  border-right: 5px solid silver;
  
  font-size: 20px;
  min-height: 72vh;
  margin-top: 2%;
  width: 20%;
}
nav ul{
  list-style-type: none;
}
nav ul>li{
  cursor: pointer;
  margin-top: 2%;
  
  width: 100%;
}
nav ul>li:hover{
  background-color: rgb(26, 182, 202);
  font-size: 25px;

 
}
.container{
  border-top: 5px solid silver;
  
  
  font-size: 22px;
  margin-top: 2%;
  
  

  width: 79%;
}
.container h2{
  margin-left: 3%;
  width: 90%;
}

a{
  color: black;
  text-decoration: none;
}